body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #272727;
    color: #f3f3e3;
    font-family: Arial, sans-serif;
}

nav {
    position: relative;
    top: 10px;
    width: 100%;
    background-color: #272727;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #272727;
}

.navbar a {
    text-decoration: none;
    color: #f3f3e3;
    font-weight: bold;
    transition: color 0.3s;
    margin: 0 15px;
}

.list-group-item {
    background-color: #272727;
    color: #f3f3e3;
    border-color: #f3f3e3;
}

.list-group-item a {
    color: #f3f3e3;
}

.container {
    background-color: #272727;
    color: #f3f3e3;
}

h1, h3 {
    color: #f3f3e3;
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    background-color: #272727;
    color: #f3f3e3;
    border: 1px solid #f3f3e3;
}

.form-control:focus {
    background-color: #272727;
    border-color: #f3f3e3;
    color: #f3f3e3;
}

.gofilebutton.register-btn,
.gofilebutton.upload-btn,
.pingmebutton.upload-btn {
    background-color: #272727;
    color: #f3f3e3;
    border: 1px solid #f3f3e3;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.gofilebutton.register-btn:hover,
.gofilebutton.upload-btn:hover,
.pingmebutton.upload-btn:hover {
    background-color: #f3f3e3;
    color: #272727;
    border-color: #272727;
}

.pagination .page-link {
    background-color: #272727;
    color: #f3f3e3;
    border-color: #f3f3e3;
}

.pagination .page-item.disabled .page-link {
    background-color: #272727;
    color: #f3f3e3;
}
