{% extends 'layout.html' %}

{% block content %}
<h2>Upload Files</h2>
<form method="POST" action="{{ url_for('uploadgofile') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        <label for="file">Files</label>
        {{ form.file(class="form-control-file", multiple=True) }}
    </div>

    {% if current_user.is_authenticated %}
        <div class="form-group">
            <label for="title">Title</label>
            {{ form.title(class="form-control", placeholder="Enter title") }}
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            {{ form.message(class="form-control", placeholder="Enter message") }}
        </div>
    {% endif %}

    <div class="form-group">
        <label for="short_name">Custom URL Name</label>
        {{ form.short_name(class="form-control", placeholder="Enter custom alias") }}
    </div>
    <div class="form-group">
        <label for="password">Password (Optional)</label>
        {{ form.password(class="form-control", placeholder="Enter password to protect the file") }}
    </div>

    <button type="submit" class="btn upload-btn btn-primary">Upload Files</button>
</form>

<br> <br>

{% if shortened_url or page_link %}
    <div class="mt-4">
        <h4>File Upload Links</h4>
        {% if shortened_url %}
            <p><strong>Shortened URL:</strong> <a href="{{ shortened_url }}" target="_blank">{{ shortened_url }}</a></p>
        {% endif %}
    </div>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="alert alert-warning">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
