{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Upload Files</h2>

    <div class="upload-buttons mt-4">
        <a href="{{ url_for('uploadgofile') }}" class="btn gofilebutton btn-block btn-lg mb-3 upload-btn">
            Gofile
        </a>
        <a href="https://pingme.tabcat.live" class="btn pingmebutton btn-block btn-lg mb-3 upload-btn">
            PingMe Bot
        </a>
        <button type="button" class="btn btn-block btn-lg mb-3 disabled upload-btn" disabled>
            Brand Upload to File.io (Coming Soon)
        </button>
    </div>
</div>
{% endblock %}
