{% extends "layout.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-between">
      <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
      <form method="POST" action="{{ url_for(delete_url, item_id=item_id) }}">
        <button type="submit" class="btn btn-danger btn-sm">
          <img src="{{ url_for('static', filename='images/delete.svg') }}" style="width: 20px; height: 20px;">
        </button>
      </form>
    </div>

    <h1 class="mt-3">{{ message.title }}</h1>

    <p><strong>Posted on:</strong> {{ message.timestamp|date }}</p>
    
    {% if message.image %}
      <div class="mt-3">
        <h5>Images:</h5>
        {% for img_url in message.image.split(',') %}
          <img src="{{ img_url|replace('{','')|replace('}','') }}" alt="Message Image" class="img-fluid mb-3">
        {% endfor %}
      </div>
    {% endif %}

    <div class="mt-3">
      <p><strong>Message:</strong></p>
      <p class="preserve-line-breaks">{{ message.message }}</p>
    </div>
  
    {% if message.shareable_msg %}
      <div class="mt-3">
        <p><strong>This message is shareable.</strong></p>
      </div>
    {% else %}
      <div class="mt-3">
        <p><strong>This message is not shareable.</strong></p>
      </div>
    {% endif %}
  </div>
{% endblock %}
